#calendar,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

.form-control{
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
    outline: none;
}

#inputtext,#enter{
padding: 20px;
margin-top: 20px;
margin-right: 10px;
}
#inputtext{
    border:1px solid black;
    outline: none;
}


#enter{
    background-color:#4570c0;
    border: none;
    color: white;
    width: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}